/* font-size: 62.5% para que 1rem = 10px */

html {
  font-size: 62.5%;

  /* overflow-x: hidden; */
}

body {
  font-family: "IBM Plex Sans", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;

  overflow-x: hidden;
}

/**************************/
/* GENERAL REUSABLE COMPONENTS */
/**************************/
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  gap: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.heading-primary {
  font-size: 5.2rem;
  font-weight: 700;
  line-height: 1.05;
  color: #333;
  letter-spacing: -0.5px;
  margin-bottom: 3.2rem;
}

.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;
  font-weight: 600;

  transition: background-color 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: #00f;
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: #0000e6;
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: #e6e6ff;
  box-shadow: inset 0 0 0 3px #fff;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

/**************************/
/* HEADER */
/**************************/
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #007bff;

  /* height: 9.6rem; */
  padding: 1rem 4.8rem;
  position: relative;
}
.logo {
  height: 6.2rem;
}

/**************************/
/* NAVIGATION */
/**************************/
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1.8rem;
  color: #333;
  font-weight: 500;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #0000e6;
}
.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #00f;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #0000e6;
}
.carrito {
  height: 4rem;
  width: 4rem;
}
/***************/
/*  BUSCADOR  */
/***************/
.buscar {
  width: max-content;
  display: flex;
  align-items: center;
  padding: 1.1rem;
  border-radius: 2.8rem;
  background-color: #f6f6f6;
  gap: 1.4rem;
}

.icono-buscar {
  height: 2rem;
  width: 2rem;
}

.buscar-input {
  font-size: 1.6rem;
  color: #333;
  outline: none;
  border: none;
  background: transparent;
  width: 20rem;
}

/***************/
/*  */
/***************/

/* MOBILE */

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
}

/**************************/
/* MEDIA QUERIES RESPONSIVE*/
/**************************/

@media (max-width: 84em) {
}

@media (max-width: 59em) {
  /* MOBILE */
  .btn-mobile-nav {
    display: block;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.97);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);

    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    opacity: 0;

    pointer-events: none;

    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 4.8rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 3rem;
  }
}

@media (max-width: 34em) {
  .grid {
    row-gap: 4.8rem;
  }

  .grid--2-cols,
  .grid--3-cols,
  .grid--4-cols {
    grid-template-columns: 1fr;
  }

  .btn,
  .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  }
}
